<form action="/merchants" method="POST">
  <label for="merchant-name">Merchant Name:</label>
  <input type="text" name="name" id="merchant-name" placeholder="Enter Here">

  <label for="merchant-availability">Currently Available: </label>
  <select name="active" id="merchant-availability">
    <option value="true">Available</option>
    <option value="false">Currently Unavailable</option>
  </select>
  <input type="submit" value="Add Merchant">
</form>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Availability</th>
  </tr>
  <% for merchant in @merchants %>
  <tr>
    <td><%= merchant.name %></td>
    <td>|</td>
    <td><%= merchant.active %></td>
    <td><a href="/merchants/<%=merchant.id%>/edit">Edit</a></td>
  </tr>
  <%end%>
</table>
