<div class="combined-heading">

    <h1 class="heading-logo" id="head-title">Spending Detective</h1>
    <i class="fas fa-search-dollar fa-3x heading-logo"></i>

  <p>Keep an eye on your finances</p>

  <p>The all-in-one app that lets you add and categorise your payments.</p>
  <p>So you can spend your time solving other crimes</p>
</div>
