<div class="combined-heading">
  <div class="heading-logo">
    <h1 id="head-title">Spending Detective</h1>
    <i class="fas fa-search-dollar fa-3x"></i>
  </div>
  <p>Keep an eye on your finances</p>

  <p>The all-in-one app that lets you add and categorise your payments.</p>
  <p>So you can spend your time solving life's other mysteries</p>
</div>
