<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Spending Detective</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/transactions">Transactions</a>
      </li>
    </ul>
  </nav>
  <section>
    <%= yield%>
  </section>
</body>
</html>
