<h1 id="edit-tag-title">Edit <%= @tag.type%></h1>
<form class="spending-input" action="/tags/<%= @tag.id %>" method="POST">
  <label for="tag-type-update">New Type:</label>
  <input type="text" name="type" id="tag-type-update">
  <button type="submit">Update</button>
</form>
