<table>
  <tr>
    <th>Type of Purchase</th>
    <th></th>
    <th>Description of Purchase</th>
  </tr>
  <% for tag in @tags %>
  <tr>
    <td><a href="/tags/<%=tag.id%>"><%= tag.type %></a></td>
    <td>|</td>
    <td><%= tag.description %></td>
  </tr>
  <%end%>
</table>
