<form class="spending-input" action="/tags" method="POST">
  <label for="type-name">Tag Name:</label>
  <input type="text" name="type" id="type-name" placeholder="Enter Here">
   <button type="submit">Add Tag</button>
</form>

<table>
  <tr>
    <th>Spending Tag</th>
    <th></th>
  </tr>
  <% for tag in @tags %>
  <tr>
    <td><%=tag.type%></td>
    <td><a href="/tags/<%=tag.id%>/edit">Edit</a></td>
  </tr>
  <%end%>
</table>
