<form action="/tags" method="POST">
  <label for="type-name">Tag Name:</label>
  <input type="text" name="type" id="type-name" placeholder="Enter Here">
   <input type="submit"value="Add Tag">
</form>

<ul>
  <% for tag in @tags %>
  <li>
    <%= tag.type %>
    <a href="#"></a>
  </li>
  <% end %>
</ul>

<table>
  <tr>
    <th>Type of Purchase</th>
    <th></th>
    <th>Description of Purchase</th>
  </tr>
  <% for tag in @tags %>
  <tr>
    <td><a href="/tags/<%=tag.id%>"></a></td>
    <td>|</td>

  </tr>
  <%end%>
</table>
