body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

nav{
  width: 100vw;
  display: inline-block;
}

nav ul {
  list-style-type: none;
  display: inline-block;
  width: 100vw;

  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
}

nav li {
  display: inline-block;
  text-align: center;
}

nav li a {
  display: inline-block;
  width: 15vw;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #AFAFAF;
}

footer{
 position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
 background-color: #f3f3f3;
 text-align: center;
 display: inline-block;

}

footer a {
  color: black;
}

.footer-text {
  padding-right: 20px;
}

table {
  width: 60%;
  border-collapse: collapse;
  margin-top: 40px;
  margin-left: 30px;
  margin-bottom: 100px;
}

th {
  height: 50px;
  background-color: #f5f5f5;
}

td {
  height: 50px;
  vertical-align: middle;
}

th, td {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

td a {
  background-color: #3A5790;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}

td a:hover {
  background-color: #f5f5f5;
  color: #3A5790;
}

.table-button {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.table-button:hover {
  background-color: #f5f5f5;
  color: #f44336;
}

tr:hover {
  background-color: #f5f5f5;
}

.add-input {
  border-left:
}

.combined-heading {
  text-align: center;
}

.heading-logo {
  display: inline-block;
}

.back-button {
  margin-left: 30px;
}

.back-button a {
  background-color: #555;
  border: none;
  color: white;
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.back-button a:hover {
  background-color: white;
  color: #555;
  border: 1px solid #555;
}

.add-transaction-button a {
  background-color: #555;
  border: 1px solid white;
  color: white;
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.add-transaction-button a:hover {
  background-color: white;
  color: #555;
  border: 1px solid #555;
}

.view-links {
  background-color: #F69111;
  border: 1px solid white;
  color: white;
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.view-links:hover {
  background-color: white;
  color: #F69111;
  border: 1px solid #F69111;
}

.home-add-transaction-button a {
  background-color: black;
  border: 1px solid white;
  color: white;
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.home-add-transaction-button a:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.transaction-total {
  padding-left: 30px;
  font-size: 1.2em;
}

.transaction-links {
  padding-left: 30px;
}

.spending-input{
  margin-top: 20px;
  margin-left: 30px;
}

.spending-input label{
  margin: 5px 10px 5px 0;
}

.spending-input button{
  background-color: #555;
  border: 1px solid white;
  color: white;
  margin-left: 5px;
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.spending-input button:hover {
  background-color: white;
  color: #555;
  border: 1px solid #555;
}

.transaction-add-header {
  margin-left: 30px;
  text-decoration: underline;
}

.transaction-container{
  position: absolute;
  left: 0;
  margin: 30px;
  max-width: 600px;
  padding: 16px;
  background-color: #f5f5f5;
}

.transaction-container input[type=text], input[type=date] {
  width: 90%;
  padding: 15px;
  margin: 10px 0 22px 0;
  border: none;
  background: white;
}

.transaction-container button{
  background-color: #555;
  border: 1px solid white;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.transaction-container button:hover{
  background-color: white;
  color: #555;
  border: 1px solid #555;
}

#nav-icon{
  padding-left: 5px;
}

#head-title{
  font-family: 'Lobster', cursive;
  font-size: 4em;
}

#edit-merchant-title{
  margin-left: 30px;
}

#edit-tag-title{
  margin-left: 30px;
}
