<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Spending Detective</title>
  <link rel="stylesheet" href="/styles/style.css">
  <script src="https://kit.fontawesome.com/1e02186806.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto&display=swap" rel="stylesheet">
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/">Home <i id="nav-icon" class="fas fa-search-dollar fa-1em"></i></a>

      </li>
      <li>
        <a href="/transactions">Transactions</a>
        <a href="/merchants">Merchants</a>
        <a href="/tags">Spending Tags</a>
      </li>
    </ul>
  </nav>
  <section>
    <%= yield%>
  </section>
  <footer>
    <p> <span class="footer-text">Cody Abbott 2019  <i class="far fa-copyright"></i></span><span style="color: Black;"><a href="https://github.com/CodyAbb"><i class="fab fa-github fa-2x"></i></a></span></p>

  </footer>
</body>
</html>
